@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/image/forest.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    color: white;
    background: transparent;
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border: 2px solid #0b5722;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #0b5722;
   
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #0b5722;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
    font-size: 16px;
    padding-left: 20px;
}
.input-box .icon{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.input-box .icon ion-icon{
    color: white;
}
.wrapper .remember-forgot{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px 0;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 5px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: white;
    color: #0b5722;
    font-size: 16px;
    font-weight: 600;
    border-radius: 46px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.wrapper .btn:hover{
    background: #f1f1f1;
}
.wrapper .register-link{
    text-align: center;
    margin: 20px 0 15px ;
    font-size: 14px;

}
.register-link a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
}