@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");
   
*{

   padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Syne',sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/image/greenbg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    color: #fff;
    width: 420px;
    background: transparent;
    border-radius: 12px;
    backdrop-filter: blur(9px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 30px 40px;
}
.container h1{
    text-align: center;
    padding-bottom: 26px;
    font-size: 39px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.container .form-input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0 ;
}
.form-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.form-input input ::placeholder{
    color: #fff;
}
.form-input i {
    color: #6ee793;
    position: absolute;
    right: 10px;
    top: 16px;
    transform: translate(-50%);
}
.container .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #6ee793;
    color: #333;
    font-weight: 550;
    transition: all .4s ease-in-out;
    margin: 10px;

}
.container .btn:hover{
    background-color: #6c757d;
    color: #fff;
}
.container .btn.prev{
     background-color: #6c757d;
    color: #fff;
}
.container .form-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container .form-buttons.btn{
    flex: 1;
    margin: 0 3px;
}